<%- include ('../partials/header') %>

        


        <div class="ui center aligned grid">
            <div class="column">
                <table class="ui very basic collapsing celled table">
                    <thead>
                        <tr>
                            <th>Employee</th>
                            <th>Classroom</th>
                            <% if(sessionUser.role === "admin") { %>
                            <th>Password</th>
                            <% } %>
                            <th>Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% employees.forEach(function(employee) { %>
                        <tr>
                            <td>
                                <h4 class="ui heaeder">
                                    <a href="#" class="open-modal" rel="modal:open">
                                        <div class="content"> <%= employee.name %>
                                            <div class="sub header"><%= employee.role %></div>
                                        </div>
                                    </a>
                                </h4>
                            </td>
                            <td>
                                <%= employee.classroom %>
                            </td>

                            <% if(sessionUser.role === "admin") { %>
                            <td>
                                <%= employee.password %>
                                <button class="ui right floated red button reset " id= <%= employee.numTeacher %>>Reset</button>
                            </td>
                            <% } %>

                        </tr>
                        <% }); %>
                        
                            <tr>
                                <td>
                                    <div id="add-user" class="content">                                        
                                        <i class="plus circle icon"></i>
                                        Add user
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Modal add user -->
        <div class="ui modal adduser">
            <div class="content">
                <form action="" method="POST" class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <label>Name</label>
                            <input type="text" placeholder="First name">
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input type="text" placeholder="Last name">
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="text" placeholder="Temporary password">
                    </div>
                    <div class="actions">
                        <div class="ui green approve button">Approve</div>
                        <div class="ui red cancel button">Cancel</div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal change pass -->
        <div class="ui modal pass">
            <div class="content">
                <form action="" method="POST" class="ui form">
                    <p>Thanks to enter a new password :</p>
                    <div id="div-pass-1" class="field">
                        <input type="text" id="new-pass-1" placeholder="New password">
                    </div>

                    <div class="ui message" hidden>
                        <div class="header message">password needs :</div>
                        <ul id="error-message"></ul>
                    </div>
                    
                    <p>And again :</p>
                    <div class="field">
                        <input type="text" id="new-pass-2" placeholder="New password">
                    </div>
                    <div class="actions">
                        <div class="ui green approve button">Approve</div>
                        <div class="ui red cancel button">Cancel</div>
                    </div>
                </form>
            </div>
        </div>

    </body>
    <%- include ('../partials/insert') %>

    <link rel="stylesheet" href="/assets/stylesheets/account_management.css">
    <script src="/assets/js/account_management.js"></script>

<%- include ('../partials/footer') %>